@model Category

<form method="post">
    <div class="border p-3 mt-4">
        
        <!-- first field --> 
        <div class="row pb-2">
             <h2 class="text-primary">Create Category</h2>
             <hr />
         </div>
        <div class="mb-3">
             <label>Category Name</label>
             <input type="text" class="form-control" />
         </div>
        
         <!-- second field -->
        <div class="mb-3">
            <label>Display Order</label>
            <input type="text" class="form-control" />
        </div>
        
        <!-- Add an button -->
        <div class="row">
            <div class="col-6 align-items-center">
                <button class="btn btn-primary" asp-action="">Create</button>
            </div>
            <div class="col-6 align-items-center">
                <!-- Add back button -->
                <button class="btn btn-secondary border-2 bg-dark" asp-action="Index">Create</button>
            </div>
        </div>
    </div>
</form>