@model Category

<div class="card shadow border-0 mt-4">
    <!-- card header -->
    <div class="card-header bg-secondary bg-gradient mt-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-primary py-2">Create Category</h2>
            </div>
        </div>
    </div>
</div>

<div class="card-body row">
    <!-- class -->
    <form method="post" class="">
        <div class="border p-3">
            <!-- <div asp-validation-summary="All"></div>-->
            <div class="form-floating mb-3 P-1">
                <label>Category Name</label>
                <input class="form-control" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>

            <!-- second field -->
            <div class="row mb-3">
                <label>Display Order</label>
                <input class="form-control" asp-for="DisplayOrders" />
                <span class="text-danger" asp-validation-for="DisplayOrders"></span>
            </div>

            <!-- Add an button -->
            <div class="row align-items-center">
                <div class="col-6 col-md-3">
                    <button class="btn btn-primary form-control" asp-action="Create" type="submit">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <!-- Add back button -->
                    <button class="btn btn-outline-secondary border-2 bg-dark form-control" asp-action="Index">Go Back</button>
                </div>
            </div>

        </div>
    </form>
</div>
<!-- Add partial view for validation -->
<!-- This will help in making validation at client side -->
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}