@model List<Category>

<!-- partial tag will be used here to include the notifications -->
<partial name="_Notification" />

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h2 class="text-primary">
                Category List
            </h2>
        </div>

        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary">
                Create New Category <i class="bi bi-plus-circle"></i>
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <!-- head of the table -->
            <tr>
                <!-- Adding header column for the table -->
                <th>
                    Category Name
                </th>
                <th>
                    Display Order
                </th>
            </tr>
        </thead>
        <!-- body of the table -->
        <tbody>
            <!-- Adding for loop to iterate over the list elements -->
            @foreach (var obj in Model.OrderBy(u => u.DisplayOrders))
            {
                <!-- body of the table -->
                <tr>
                    <td>
                        @obj.Name
                    </td>
                    <td>
                        @obj.DisplayOrders
                    </td>
                    <!-- Adding edit or delete functionality -->
                    <td>
                        <!-- Adding edit btn -->
                        <div class="w-75 btn-group" role="group">
                            <!-- Go to edit functioanlity -->
                            <!-- we need to provide id to edit function -->
                            <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>Edit
                            </a>
                            <!-- Adding delete btn -->
                            <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger mx-2">
                                <i class="bi bi-trash3-fill"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>